<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Editar', edit_contact_path(@contact) %> |
<%= link_to 'Voltar', contacts_path %>
